*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.parent{
    width: 50%;
    background-color: white;
    padding: 6rem 0;
    margin: 3rem auto;
    border-radius: 2rem;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: #7D36CA;
    border-radius: 18rem;
    margin: 0 auto;
    position: relative;
}

.circle a{
    padding: 3rem;
    /* border: 1px dashed red; */
    position: absolute;
    left: 20px;
    top: 45px;
    color: #fff;
    text-decoration: none;
}

.description{
    width: 70%;
    margin: 2rem auto;
    margin-bottom: 0;
}